<% active = yield(:headeractiveclass) %>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header"> 
    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>     
            <a class="navbar-toggle btn btn-social-icon btn-facebook" target="_blank" href="http://www.facebook.com/ShutuplegsMysore"><i class="fa fa-facebook"></i></a>       
        <a href="/" class="pull-left img-responsive2 hidden-xs hidden-sm"><%= image_tag("logo.png" , size: "160x80") %></a>
        <a href="/" class="visible-xs visible-sm" style="padding-left:10px"><%= image_tag("logo.png", class: "img-responsive2" ) %></a>
    </div>                    
        <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav slightly-down">
                <li class = <%= active == "home" ? "active" : "" %>><a href="/"> Home</a></li>
                <li class="<%= active == "races" ? "active" : "" %> dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Races <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="upcoming">Upcoming Race</a></li>
                            <li><a href="calendar">Race Calendar</a></li>
                            <li><a href="rules">Rules and Regulations</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="register"><div class="color-red">Register</div></a></li>
                        </ul>
                    </li>
                <li class = <%= active == "aboutus" ? "active" : "" %>><%= link_to "About Us", aboutus_path %></li>
                <li class = <%= active == "sponsors" ? "active" : "" %>><a href="sponsors"> Sponsors</a></li>
                <li class = <%= active == "team" ? "active" : "" %>><a href="team"> The team</a></li>
                <li class = <%= active == "contactus" ? "active" : "" %>><a href="contactus"> Contact Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right slightly-down hidden-sm hidden-xs">
                    <a class="btn btn-social-icon btn-facebook" target="_blank" href="http://www.facebook.com/ShutuplegsMysore"><i class="fa fa-facebook"></i></a>                    
                </ul>
        </div>
        
    </div>
    </nav>
